@model IEnumerable<SportsInventoryMVC.Models.OrderItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noofitems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totalprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noofitems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Totalprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderid }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderid })
        </td>
    </tr>
}

</table>
